<!-- <img
  class="one"
  src="https://img.freepik.com/free-photo/movie-slate-roll-with-popcorn_23-2148470233.jpg?size=626&ext=jpg&ga=GA1.2.1717788601.1681970675&semt=ais"
  alt=""
/> -->
<img
  class="one"
  src="https://img.freepik.com/free-photo/cinema-with-popcorn-box_23-2148133612.jpg?w=900&t=st=1695979851~exp=1695980451~hmac=1a0ac60f53fa29a8338e3152894493736c301be1738940e2e4fef0a075f2e978"
  alt=""
/>

<p class="eleven">Please Login</p>

<mat-card class="example-card">
  <form #LoginForm="ngForm">
    
    <!-- User Email -->
    <div class="example-container">
      <mat-form-field class="increaseSize">
        <input
          matInput
          placeholder="Email"
          #Email="ngModel"
          name="Email"
          required
          [(ngModel)]="details.userEmailID"
        />
        <mat-error *ngIf="Email.invalid && Email.touched">
          <span *ngIf="Email.errors?.['required']"> Email is required </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- User Password-->
    <div class="example-container">
      <mat-form-field class="increaseSize">
        <input
          class="one"
          matInput
          placeholder="Password"
          type="password"
          #Password="ngModel"
          name="Password"
          required
          [(ngModel)]="details.password"
        />
        <mat-error *ngIf="Password.invalid && Password.touched">
          <span *ngIf="Password.errors?.['required']">
            User password is required
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <button
        mat-raised-button
        type="button"
        (click)="login()"
        color="accent"
        [disabled]="LoginForm.invalid"
        (click)="openSnackBar()"
        aria-label="Show an example snack-bar"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
